body {
    background-color: #F3F2EE;
    font-family: "Montserrat", sans-serif;
}

.weather-app {
    background: white;
    max-width: 660px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 15px;
}